.container{
    padding: 1.4rem;
    background:rgb(251, 247, 247);
    margin-top:10%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    
}

.backDropContainer{
    width:100%;
    height: 30vh;
    background:url("https://t4.ftcdn.net/jpg/06/31/31/59/360_F_631315988_31FMZC4kDYijIJzsxNQivlotI4QGeHow.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;

}
.backDropContainer img{
    width:10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: -30%;
    left: 5%;
}

.backDrop__overlay{
    width:10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: -30%;
    left: 5%;
    z-index:4;
    transition: all ease 0.2s;
    cursor: pointer;
    color: white;
    text-align: center;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backDrop__overlay:hover{
    opacity:0.6;
    background:black;
}
.profileContainer_details{
    padding-top: 5.6rem;
}

.card{
    display: flex;
    align-items: center;
    gap: 1.4rem;

}
.card_profileContainer{
    display: flex;

}



.connectBtn{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background:rgba(3,93,183,0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    
}

.connectedButton{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    border: 1px solid blue;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    color:blue;

}

.workHistoryContainer{
    display: flex;
    gap: 1.4rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;

}

.workHistoryCard{
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(173,173,173);
}


.profileContainer_details input{
    outline: none;
    border-style: none;
    /* padding-inline: 10px; */
    padding-block: 9px;
    background-color: #FBF7F7;
}


.nameEdit{
    font-size: 1.5rem;
    font-weight: bold;
}


.connectionButton{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    border: 1px solid blue;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    color:white;
    width: fit-content;
    background-color: rgb(112, 112, 243);
    margin-top: 1rem;
}
.connectionButton:hover{
    background-color: rgb(123, 123, 220) ;
}



.profileContainer_details textarea{
    outline: none;
    border: none;
    padding-inline: 10px;
    font-family: "poppins" !important;
    font-size: 1.1rem;
    background-color: #FBF7F7;
}


.addWorkButton{
    padding-inline: 1.3rem;
    background:white;
    padding-block: 1.2rem;
    border: 1px dotted silver;
    border-radius: 10px;
    cursor: pointer;
}


.commentsContainer{
    position:fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    z-index: 2;
    background:rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}


.allCommentsContainer{
    width: 40vw;
    height: fit-content;
    background: white;
    border-radius: 10px;
    padding: 1.4rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}


.inputField{
    padding-inline: 1.3rem;
    padding-block: 0.7rem;
    outline: none;
    border-radius:10px;
    border: 1px solid silver;
    width: 100%;
}
